<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CMS</title>
		<link rel="stylesheet" href="css/css.css">

	</head>


	<body>
		<main>
			{% for categorie in categorie %}

				<header>
					<p class="entete--1">20221221_234137_00002_HP0_PAR911_231</p>
					{% if categorie.id_categorie == 1 %}
						<a href="controleur.php?page=categorie&action=read&id={{categorie.id_categorie}}">
								<img src="uploads\File-639072eaa3ad28.82395826.jpg" alt="logo">
						</a>
					{% endif %}
					<p class="entete--4">Document à conserver 5 ans</p>
					<p class="entete--5">Page 1/4</p>
				</header>
				{% if categorie.id_categorie == 2 %}

					<div class="div_nom">
						<a href="controleur.php?page=categorie&action=read&id={{categorie.id_categorie}}">
							<p>M. Karim Benzema 5 Avenue Champions League 69000 Lyon</p>
						</a>
					</div>

				{% endif %}
				{% if categorie.id_categorie == 3 %}
					<a class="div_center" href="controleur.php?page=categorie&action=read&id={{categorie.id_categorie}}">
						<div class="div_center--1">
							<p>
								Facture du 18/12/2022
							</p>
						</div>

						<div class="div_center--2">
							<p class="div_center--2p1">Electricité (relevé client)</p>
							<p class="div_center--2p2">145.34€</p>
							<p class="div_center--2p3">Gaz naturel (relevé estimé)</p>
							<p class="div_center--2p4">102.07€</p>
							<p class="div_center--2p5">TVA</p>
							<p class="div_center--2p6">49.48€</p>
							<hr>
							<p class="div_center--2p8">Facture TTC</p>
							<p class="div_center--2p9">145.34€</p>
						</div>
						<div class="div_center--3">
							<p class="div_center--3p1">
								Montant Total</p>
							<p class="div_center--3p2">
								198.04€</p>
							<p class="div_center--3p3">
								TTC</p>
							<p class="div_center--3p4">
								Préléve le 30/01/2045</p>
						</div>
					</div>
				</a>
			{% endif %}
			<aside>
				<footer>
					Crée par les étudiants MMI de l'IUT de Haguenau</footer>
			</aside>
		{% endfor %}
	</body>
</html></main></body></html>
